### **<u>1ª Parte – Conhecimentos de SQL e T-SQL(DDL e DML)</u>**

**EXERCICIO 1**

Crie o banco de dados chamado desafio(localmente) com as tabelas conforme diagrama de dados Figura 1.

**Criando o banco de dados**

In [17]:
CREATE DATABASE DESAFIO;

**Usando o banco de dado criado**

In [18]:
USE DESAFIO;

**Criando tabela CIDADE**

In [19]:
CREATE TABLE Cidade
(
    id_cidade INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    nome_cidade VARCHAR(60),
    uf VARCHAR(2) NOT NULL
);

**Criando tabela CLIENTE**

In [20]:
CREATE TABLE Cliente 
(
    id_cliente INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    nome_cliente VARCHAR(60) NOT NULL,
    endereco VARCHAR(60) NOT NULL,
    numero VARCHAR(10) NOT NULL,
    id_cidade INT NOT NULL,
    cep VARCHAR(9) NOT NULL,

);

**Criando tabela VENDAS**

In [21]:
CREATE TABLE Vendas
(
    num_venda int IDENTITY(1,1) PRIMARY KEY NOT NULL,
    data_venda DATETIME NOT NULL,
    id_cliente INT NOT NULL,
    id_vendedor INT NOT NULL,
    status_venda CHAR(1) NOT NULL
);

**Criando tabela VENDEDORES**

In [25]:
CREATE TABLE Vendedores
(
    id_vendedor INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    nome_vendedor VARCHAR(60) NOT NULL,
    salario DECIMAL(10, 2) NOT NULL
);

**Criando tabela CATEGORIA**

In [26]:
CREATE TABLE Categoria
(
    id_categoria INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    nome_categoria VARCHAR(20) NOT NULL
);

: Msg 2714, Level 16, State 6, Line 1
Já existe um objeto com nome 'Categoria' no banco de dados.

**Criando tabela UNIDADE**

In [27]:
CREATE TABLE Unidade
(
    id_unidade VARCHAR(3) PRIMARY KEY NOT NULL,
    desc_unidade VARCHAR(25) NOT NULL
);

**Criando tabela PRODUTOS**

In [28]:
CREATE TABLE Produtos
(
    id_prod INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    nome_prod VARCHAR(50) NOT NULL,
    id_categoria INT NOT NULL,
    id_unidade VARCHAR(3) NOT NULL,
    preco DECIMAL(10,2) NOT NULL
);

**Criando tabela VENDA\_ITENS**

In [29]:
CREATE TABLE Venda_itens
(
    num_vend INT PRIMARY KEY NOT NULL,
    num_se INT NOT NULL,
    id_prod INT NOT NULL,
    qtde DECIMAL(10,2) NOT NULL,
    val_uni DECIMAL(10,2) NOT NULL,
    val_tot DECIMAL(10,2) NOT NULL
);

**Adicionando chaves estrageiras**

In [30]:

ALTER TABLE Cliente
    ADD CONSTRAINT fk_Cidade FOREIGN KEY (id_cidade) REFERENCES Cidade(id_cidade);

ALTER TABLE Vendas
    ADD CONSTRAINT fk_Cliente FOREIGN KEY (id_cliente) REFERENCES Cliente(id_cliente);

ALTER TABLE Vendas
    ADD CONSTRAINT fk_Vendedores FOREIGN KEY (id_vendedor) REFERENCES Vendedores(id_vendedor);

ALTER TABLE Produtos
    ADD CONSTRAINT fk_Categoria FOREIGN KEY (id_categoria) REFERENCES Categoria(id_categoria);

ALTER TABLE Produtos
    ADD CONSTRAINT fk_Unidade FOREIGN KEY (id_unidade) REFERENCES Unidade(id_unidade);

ALTER TABLE Venda_itens
    ADD CONSTRAINT fk_Vendas FOREIGN KEY (num_vend) REFERENCES Vendas(num_venda);

ALTER TABLE Venda_itens
    ADD CONSTRAINT fk_Produtos FOREIGN KEY (id_prod) REFERENCES Produtos(id_prod);

**EXERCICIO 2**

Restaurar o arquivo treino.bak(localmente) para criar um banco de dados treino (versão SQL 2017 ou superior)

 Arquivo treino.bak foi restaurado localmente para criar um banco de dados TREINO.

**EXERCICIO 3**

Listagem de todos os clientes com seus nomes e com suas respectivas cidades e estados do banco de dados TREINO

In [ ]:
SELECT  C.NOME_CLIENTE, Cid.NOME_CIDADE, Cid.UF FROM CLIENTE as C
INNER JOIN CIDADE as Cid
    ON Clin.ID_CIDADE = Cid.ID_CIDADE;

Listagem do código do produto, descrição do produto e a descrição das categorias dos produtos que tenham o valor unitário na faixa de R$ 10,00 a R$ 1500

In [ ]:
SELECT P.ID_PROD, P.NOME_PRODUTO, C.NOME_CATEGORIA, V.VAL_UNIT FROM PRODUTOS as P
INNER JOIN CATEGORIA as C
    ON P.ID_CATEGORIA = C.ID_CATEGORIA
INNER JOIN VENDA_itens as V 
    ON P.ID_PROD = V.ID_PROD
    WHERE V.VAL_UNIT BETWEEN 10 AND 1500;

Listagem do código do produto, descrição do produto e descrição da categoria dos produtos, e também apresente uma coluna condicional com o nome de "faixa de preço"

Com os seguintes critérios

• preço\< 500 : valor condicional será igual "preço abaixo de 500"

• preço \>= 500 e \<=1000 valor condicional será igual "preço entre 500 e 1000"

• preço \> 1000 : valor condicional será igual "preço acima de 1000".

In [ ]:
SELECT P.ID_PROD, P.NOME_PRODUTO, P.PRECO, C.NOME_CATEGORIA,  
CASE 
WHEN P.PRECO < 500 THEN 'Preço abaixo de 500'
WHEN P.PRECO >= 500 AND P.PRECO <=1000 THEN 'Preço entre 500 e 1000'
WHEN P.PRECO > 1000 THEN 'Preço acima de 1000'
END as FAIXA_PRECO
FROM PRODUTOS as P
INNER JOIN CATEGORIA as C
    ON P.ID_CATEGORIA = C.ID_CATEGORIA;